* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('img/snow.jpg') ;
  height: 100vh;
  width: 100%;
}

.quote__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.quotes__title {
  color: #fff;
  background-color: #000;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 1.2rem;
}

.main__container {
  background-color: #fff;
  width: 370px;
  height: 200px;
  padding: 25px;
  line-height: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  font-size: 19px;
  box-shadow: 0 0 78px;
}

.person {
  margin-top: 2rem;
  color: red;
  text-transform: capitalize;
  font-size: 26px;
}

.new__quote button {
  margin-top: 2rem;
  padding: 15px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: rgb(162, 208, 106);
  color: #fff;
  border: solid 2px white;
  box-shadow: 0 0 12px;
}

.new__quote button:hover {
  background-color: #fff;
  color: #000;
}





